<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Справочник привелегий
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"></img>
	</ui:define>

	<ui:define name="header">
         Справочник привелегий
    </ui:define>

	<ui:define name="content">

		<f:metadata>
			<f:event type="preRenderView"
				listener="#{privilegesViewControl.init}" />
			<f:viewParam name="ppage" value="#{privilegesViewControl.page}" />
			<f:viewParam name="prows" value="#{privilegesViewControl.prows}" />
			<f:viewParam name="pcsortField"
				value="#{privilegesViewControl.pcsortField}" />
			<f:viewParam name="pcsortOrder"
				value="#{privilegesViewControl.pcsortOrder}" />
		</f:metadata>

		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />
			
			<h:panelGrid columns="10">
				<h:panelGroup>
					<pk:pk_add_button_wf add_action="#{privilegesViewControl.add}"/>
				</h:panelGroup>
			</h:panelGrid>
			

			<p:dataTable id="table1" var="row" 
				value="#{privilegesViewControl.dataModel}" widgetVar="dataTable1"
				emptyMessage="Таблица пустая">


				<f:facet name="header">
					<pk:pkpaginator pages="#{privilegesViewControl.allPagesCount}"
						count="#{privilegesViewControl.allRowsCount}"
						page="#{privilegesViewControl.page}"
						buttons="#{privilegesViewControl.oPButtons}"
						rows="#{privilegesViewControl.rows}" />

				</f:facet>



				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="id"
							csortOrder="#{privilegesViewControl.csortOrder}"
							csortField="#{privilegesViewControl.csortField}" />
					</f:facet>
					<h:outputText value="#{row.id}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="division"
							csortOrder="#{privilegesViewControl.csortOrder}"
							csortField="#{privilegesViewControl.csortField}" />
					</f:facet>
					<h:outputText value="#{row.division.keyName}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="warehouse"
							csortOrder="#{privilegesViewControl.csortOrder}"
							csortField="#{privilegesViewControl.csortField}" />
					</f:facet>
					<h:outputText value="#{row.warehouse.keyName}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="cash"
							csortOrder="#{privilegesViewControl.csortOrder}"
							csortField="#{privilegesViewControl.csortField}" />
					</f:facet>
					<h:outputText value="#{row.cash.keyName}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="privilegesType" caption="Тип"
							csortOrder="#{privilegesViewControl.csortOrder}"
							csortField="#{privilegesViewControl.csortField}" />
					</f:facet>
					<h:outputText value="#{row.privilegesType}" />
				</p:column>

				<p:column headerText="Описание" >
					<h:outputText value="#{row.description}" />
				</p:column>

				<p:column headerText="Действие" style="width: 100px; text-align: center;">
					<pk:pktable_crud_column_buttons_wf
						edit_action="#{privilegesViewControl.edit}"
						del_action="#{privilegesViewControl.del}"
						show_view_button="true"
						view_button_oncomplete="rowDitailDialog.show()"
						selected="#{privilegesViewControl.selected}" row="#{row}" />
				</p:column>


				<f:facet name="footer">
					<pk:pkpaginator pages="#{privilegesViewControl.allPagesCount}"
						count="#{privilegesViewControl.allRowsCount}"
						page="#{privilegesViewControl.page}"
						buttons="#{privilegesViewControl.oPButtons}"
						rows="#{privilegesViewControl.rows}" />
				</f:facet>


			</p:dataTable>


			<p:dialog header="Row Detail" widgetVar="rowDitailDialog"
				resizable="false" id="rowDitailDialog" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">

					</f:facet>

					<h:outputText value="id:" />
					<h:outputText value="#{privilegesViewControl.selected.id}"
						style="font-weight:bold" />

					<h:outputText value="KeyName:" />
					<h:outputText value="#{privilegesViewControl.selected.privilegesType}"
						style="font-weight:bold" />


					<h:outputText value="Description:" />
					<p:scrollPanel style="width:350px;height:200px" scrollMode="native">
						<h:outputText
							value="#{privilegesViewControl.selected.description}"
							escape="false" />
					</p:scrollPanel>

					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Close" onclick="rowDitailDialog.hide()"
								type="button" icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>
		</h:form>
	</ui:define>

	<ui:define name="footer">
        footer
    </ui:define>
</ui:composition>
</html>
