<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents" xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Провести операцию
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png" />
	</ui:define>

	<ui:define name="header">
        Провести операцию
    </ui:define>

	<ui:define name="content">

		<h:form id="form">
		
			<p:growl id="msgs" showDetail="true" />
			<p:messages showDetail="true" autoUpdate="true" />

			<h:panelGrid columns="2">

				<p:commandButton id="cancelButtom" action="cancel" value="Отмена" />
				<p:commandButton id="enterButtom" action="#{opProductSaleWFControl.enter}" value="Провести" />
				
			</h:panelGrid>

		</h:form>
	</ui:define>
</ui:composition>
</html>
