<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents" xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Продажа товара
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png" />
	</ui:define>

	<ui:define name="header">
        Продажа товара
    </ui:define>

	<ui:define name="content">
		<style type="text/css">
.pbutton {
	width: 200px;
	height: 100px;
}

.ui-tabs-panel {
	border-width: 0;
	padding: 0px !important;
	background: none;
}
</style>


		<h:form id="form" onkeypress="if (event.keyCode == 13) { document.getElementById('form:findButton').click(); return false; }">

			<p:focus for="barcode" />

			<p:growl id="msgs" showDetail="true" />
			<p:messages showDetail="true" autoUpdate="true" />

			<p:toolbar>
				<p:toolbarGroup align="left">
					<p:commandButton immediate="false" value="Нов." ajax="false" icon="ui-icon add" action="newOp" />

					<p:inputText id="barcode" value="#{opProductSaleWFControl.barcode}" />

					<p:commandButton value="Найти" ajax="true" id="findButton" icon="ui-icon add" action="#{opProductSaleWFControl.findProduct}" update="@form" />
					<p:commandButton type="button" value="Найти.." icon="ui-icon add" />

					<p:separator />

					<p:commandButton type="button" title="Save" icon="ui-icon-disk" />
					<p:commandButton type="button" title="Delete" icon="ui-icon-trash" />
					<p:commandButton type="button" title="Print" icon="ui-icon-print" />
				</p:toolbarGroup>

				<p:toolbarGroup>
					<p:separator />
					<p:menuButton value="Options">
						<p:menuitem value="Home" url="http://www.primefaces.org" />
						<p:menuitem value="ShowCase" url="http://www.primefaces.org/showcase" />
						<p:menuitem value="TouchFaces" url="http://www.primefaces.org/showcase/touch" />
					</p:menuButton>
				</p:toolbarGroup>

				<p:toolbarGroup align="right">
					<p:commandButton value="Провести" icon="ui-icon add" action="enterDialog"/>
				</p:toolbarGroup>


			</p:toolbar>


			<p:panel>
				<h:panelGrid columns="6" style="width: 100%">

					<h:outputText value="В долг:" />
					<h:outputText value="#{opProductSaleWFControl.toBalance}" style="font-size: x-large" >
						<f:convertNumber type="currency" currencyCode="KZT" currencySymbol="$"/>
					</h:outputText>
					<h:outputText value="В кассу:" />
					<h:outputText value="#{opProductSaleWFControl.toCach()}" style="font-size: x-large" >
						<f:convertNumber type="currency" currencyCode="KZT" currencySymbol="$"/>
					</h:outputText>
					<h:outputText value="И того:" />
					<h:outputText value="#{opProductSaleWFControl.allSum()}" style="font-size: xx-large" >
						<f:convertNumber type="currency" currencyCode="KZT" currencySymbol="$"/>
					</h:outputText>

				</h:panelGrid>
			</p:panel>

			<p:tabView orientation="top" activeIndex="#{flowScope.tabpage}">
				<p:tab title="Список товаров (#{opProductSaleWFControl.uiProducts.size()})">

					<f:facet name="title">
						<p:graphicImage value="/images/icons/cart_24.png" />
						<h:outputText value="Список товаров (#{opProductSaleWFControl.uiProducts.size()})" />
					</f:facet>

					<p:dataTable var="row" value="#{opProductSaleWFControl.uiProducts}"
						 style="width: 100%" id="productsTabs">

						<p:column headerText="Наименование">
							<h:outputText value="#{row.product.keyName}" />
						</p:column>

						<p:column headerText="Код">
							<h:outputText value="#{row.product.barcode}" />
						</p:column>

						<p:column headerText="Колич." style="text-align: right;">
							
						
							<h:outputText value="#{row.getUiValuesSum()}" />
							&nbsp;
							<h:outputText value="#{row.getUiNumeratorsSum()}" rendered="#{row.product.valueType == 'FRACTION'}"/>
							<h:outputText value="/" rendered="#{row.product.valueType == 'FRACTION'}"/>
							<h:outputText value="#{row.product.denominator}" rendered="#{row.product.valueType == 'FRACTION'}"/>
							
							&nbsp;<h:outputText value="#{row.product.measure.keyName}" />
						</p:column>

						<p:column headerText="Цена" style="text-align: right;">
							<h:outputText value="#{row.price.value}">
								<f:convertNumber type="currency" currencyCode="KZT" currencySymbol="$"/>
							</h:outputText>
						</p:column>

						<p:column headerText="Скидка" style="text-align: right;">
							<h:outputText value="0%">
							</h:outputText>
						</p:column>

						<p:column headerText="Сумма" style="text-align: right;">
							<h:outputText value="#{row.price.value}">
								<f:convertNumber type="currency" currencyCode="KZT" currencySymbol="$"/>
							</h:outputText>
						</p:column>

						<p:column headerText="Действие" style="width: 200px; text-align: center;">
							<p:commandButton value="Кол." title="Установить количество" action="setQuantity">
								<f:setPropertyActionListener value="#{row}" target="#{opProductSaleWFControl.selectedUiProduct}" />
							</p:commandButton>
							
							<p:commandButton value="Ск." title="Скидка" >
							
							</p:commandButton>
						
							<p:commandButton value="Уд." oncomplete="deleteProductDialog.show()" 
								title="Удалить запись" update=":form:display">
								<f:setPropertyActionListener value="#{row}" target="#{opProductSaleWFControl.selectedUiProduct}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>

				</p:tab>
				
				<p:tab title="Пометки">
					<f:facet name="title">
						<p:graphicImage value="/images/icons/edit_24.png" />
						<h:outputText value="Пометки..." />
					</f:facet>

					<h:panelGrid columns="1" cellpadding="10">
						<p:inputTextarea rows="15" cols="120" value="#{opProductSaleWFControl.description}"/>
					</h:panelGrid>
				</p:tab>
				
				<p:tab title="Клиент">
					<f:facet name="title">
						<p:graphicImage value="/images/icons/user_24.png" />
						<h:outputText value="Клиент " />
					</f:facet>

					<br/>	
					<h:panelGroup style="margin: 10px !important;">
						<p:commandButton value="Выбор клиента..." action="selectCustomer" />
						<p:commandButton value="Удалить" action="deleteCustomer" 
							rendered="#{opProductSaleWFControl.customer != null}"/>
						<p:commandButton value="Сумма в долг" action="setToBalance" 
							rendered="#{opProductSaleWFControl.customer != null}"/>
					</h:panelGroup>

					<h:panelGrid columns="2" cellpadding="10" rendered="#{opProductSaleWFControl.customer != null}">
						
						<h:outputText value="Уникальное имя:" />
						<h:outputText value="#{opProductSaleWFControl.customer.keyName}" />
						
						<h:outputText value="Фамилия:" />
						<h:outputText value="#{opProductSaleWFControl.customer.fName}" />
						
						<h:outputText value="Имя:" />
						<h:outputText value="#{opProductSaleWFControl.customer.nName}" />
						
						<h:outputText value="Отчество:" />
						<h:outputText value="#{opProductSaleWFControl.customer.mName}" />
						
						<h:outputText value="Описание:" />
						<h:outputText value="#{opProductSaleWFControl.customer.description}" />
						
					</h:panelGrid>

					<h:panelGrid columns="1" style="margin: 10px !important;" rendered="#{opProductSaleWFControl.customer == null}">
						<h:outputText value="Клиент не выбран" />
					</h:panelGrid>
				</p:tab>
				
				
			</p:tabView>
			
			
			
			<!-- DELETE DIALOG  -->
			<p:confirmDialog id="deleteProductDialog" message="Удалить продукт из списка?"
					width="200" modal="true" showEffect="explode" hideEffect="explode"
					header="Confirm" severity="alert" widgetVar="deleteProductDialog">


					<h:panelGrid id="display" columns="1" cellpadding="4"
						style="margin:0 auto;">

					</h:panelGrid>
					<br />
					<p:commandButton value="Да" update="@form"
						actionListener="#{opProductSaleWFControl.deleteProduct}"
						oncomplete="deleteProductDialog.hide()" />
						
					<p:commandButton value="Нет" onclick="deleteProductDialog.hide()"
						type="button" />

			</p:confirmDialog>
			

		</h:form>
	</ui:define>

	<ui:define name="footer">

	</ui:define>
</ui:composition>
</html>
