<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents" xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Количество
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png" />
	</ui:define>

	<ui:define name="header">
        Количество
    </ui:define>

	<ui:define name="content">

		<h:form id="form" onkeypress="if (event.keyCode == 13) { document.getElementById('form:selectedButtom').click(); return false; }">

			<p:growl id="msgs" showDetail="true" />
			<p:messages showDetail="true" autoUpdate="true" />

			<p:focus/>

			<ui:repeat var="witem" value="#{opProductSaleWFControl.selectedUiProduct.uiWarehouseItems}">
				<p:fieldset legend="#{witem.rootItem.item.transientOwner.id} #{witem.rootItem.item.transientOwner.keyName}">
					<ts:items_editor items="#{witem.uiItems}" product="#{opProductSaleWFControl.selectedUiProduct.product}" min="0" max="999999999" />
				</p:fieldset>
				<br/>
			</ui:repeat>
			<p:commandButton id="selectedButtom" action="selected" value="Принять">
			</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>
