<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents" xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Сумма в долг
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png" />
	</ui:define>

	<ui:define name="header">
        Сумма в долг
    </ui:define>

	<ui:define name="content">

		<h:form id="form" onkeypress="if (event.keyCode == 13) { document.getElementById('form:selectedButtom').click(); return false; }">

			<p:growl id="msgs" showDetail="true" />
			<p:messages showDetail="true" autoUpdate="true" />

			<p:focus />

			<h:panelGrid columns="4">
				
				<h:outputText value="Сумма:"/>
				<p:commandButton value="Мин." ajax="true" update="@form">
					<f:setPropertyActionListener value="#{0}" target="#{opProductSaleWFControl.toBalance}" />
				</p:commandButton>
				
				<p:spinner value="#{opProductSaleWFControl.toBalance}" min="0" max="#{opProductSaleWFControl.allSum()}"/>
				
				<p:commandButton value="Макс." ajax="true" update="@form">
					<f:setPropertyActionListener value="#{opProductSaleWFControl.allSum()}" target="#{opProductSaleWFControl.toBalance}" />
				</p:commandButton>
			</h:panelGrid>

			<p:commandButton id="selectedButtom" action="selected" value="Принять">
			</p:commandButton>
		</h:form>
	</ui:define>
</ui:composition>
</html>
