/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #616161;
    font-family: sans-serif;
    width: 100%;
	height: 100%;
}

.caption{
    font-family: sans-serif;
    font-size: 18px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    vertical-align: middle;
}


.actions td {
	border: 0px none !important;
	padding: 2px !important;
}

.ui-datatable-odd {
    background: none repeat scroll 0 0 #F2F5F9;
}


.column-small{
	width: 40px
}