<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents"
	xmlns:trs="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Привилегии пользователя #{privilegesPanelEditWFControl.selectedUserAccount.username}
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"></img>
	</ui:define>

	<ui:define name="header">
        Привилегии пользователя #{privilegesPanelEditWFControl.selectedUserAccount.username}
    </ui:define>

	<ui:define name="content">

		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />
			<p:messages showDetail="true" autoUpdate="true" />

			<br />

			<trs:privileges_edit_panel />

			<pk:pk_close_button action="end" />
			<pk:pkdialog_crud_buttons
					edit_action_and_close="#{privilegesPanelEditWFControl.saveAndClose}"
					edit_action="#{privilegesPanelEditWFControl.save}"
					add_view="false" edit_view="true" del_view="false" />
		</h:form>
	</ui:define>

	<ui:define name="footer">
        footer
    </ui:define>
</ui:composition>
</html>
