<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents"
	xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Справочник групп продуктов
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"></img>
	</ui:define>

	<ui:define name="header">
         Справочник групп продуктов
    </ui:define>

	<ui:define name="content">

<style type="text/css">

.breadcrumb {
	width: 100%;
	margin: 5px 0 5px 0;
	font-size: 18px;
}

.breadcrumb a {
	text-decoration: none;
}

.breadcrumb a:hover {
	text-decoration: underline;
}

.breadcrumb a img {
	border: none;
}
</style>


		<f:metadata>
			
			<!-- INIT MAST BE TOGETHER -->
			<f:event type="preRenderView"
				listener="#{productGroupViewControl.init}" />
			<!-- PRODUCT ADDON BEGIN -->
			<f:event type="preRenderView"
				listener="#{productViewControl.init}" />
			<!-- PRODUCT ADDON END -->
			
			<!-- FOR GROUPS -->	
			<f:viewParam name="prows" value="#{productGroupViewControl.prows}" />
			<f:viewParam name="groups_ppage" value="#{productGroupViewControl.page}" />
			<f:viewParam name="groups_pcsortField"
				value="#{productGroupViewControl.pcsortField}" />
			<f:viewParam name="groups_pcsortOrder"
				value="#{productGroupViewControl.pcsortOrder}" />
				
			<!-- PRODUCT ADDON BEGIN -->
			<f:viewParam name="product_ppage" value="#{productViewControl.page}" />
			<f:viewParam name="product_pcsortField"
				value="#{productViewControl.pcsortField}" />
			<f:viewParam name="product_pcsortOrder"
				value="#{productViewControl.pcsortOrder}" />
			<!-- PRODUCT ADDON END -->
				
		</f:metadata>

		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />

			<div class="breadcrumb">
				<h:commandLink title="Переместиться в корень" ajax="false" action="#{productGroupViewControl.loadParent}" >
					<b><h:outputText value="Корень" /></b>
					<f:setPropertyActionListener value="#{null}" target="#{flashScope.parentId}" />
					<f:setPropertyActionListener value="#{1}" target="#{productGroupViewControl.page}" />
				</h:commandLink>
				<ui:repeat var="a" value="#{productGroupViewControl.parent.treePath}">
					&nbsp;/&nbsp;
					<h:commandLink action="#{productGroupViewControl.loadParent}"	title="Переместиться на #{a.keyName}" ajax="false">
						<h:outputText value="#{a.keyName}" />
						<f:setPropertyActionListener value="#{a.id}" target="#{flashScope.parentId}" />
						<f:setPropertyActionListener value="#{1}" target="#{productGroupViewControl.page}" />
					</h:commandLink>
				</ui:repeat>
			</div>
			
			
			<!-- Info panel -->
			<p:fieldset legend="Корень справочника" toggleable="true" collapsed="true"
				rendered="#{productGroupViewControl.parent == null}"
				style="width: 60%">
							Вы находитесь в корне древовидного справочника.
			    		</p:fieldset>
			<p:fieldset toggleable="true" collapsed="true"
				legend="Элемент - #{productGroupViewControl.parent.keyName}"
				rendered="#{productGroupViewControl.parent != null}">
				<h:panelGrid id="display1" columns="2" cellpadding="4">

					<h:outputText value="id:" />
					<h:outputText value="#{productGroupViewControl.parent.id}" />

					<h:outputText value="Название:" />
					<h:outputText value="#{productGroupViewControl.parent.keyName}" />

				</h:panelGrid>

				<p:fieldset legend="Описание:" toggleable="true" toggleSpeed="500"
					collapsed="true">
					<h:outputText value="#{productGroupViewControl.parent.description}"
						escape="false" />
				</p:fieldset>
				<br />
				<hr />
				<pk:pktable_crud_column_buttons_wf
					edit_action="#{productGroupViewControl.edit}"
					del_action="#{productGroupViewControl.deleteParent}"
					show_view_button="true"
					view_button_oncomplete="rowDitailDialog.show()"
					selected="#{productGroupViewControl.selected}"
					row="#{productGroupViewControl.parent}" />

			</p:fieldset>

			<!-- GROUPS -->

			<p:fieldset legend="Группы:" toggleable="true" toggleSpeed="500"
				collapsed="#{productGroupViewControl.showTableGroup}">
				<p:ajax event="toggle" listener="#{productGroupViewControl.handleToggleTableGroup}"/>

				<h:panelGrid columns="10">
					<h:panelGroup>
						<pk:pk_add_button_wf add_action="#{productGroupViewControl.add}" />
					</h:panelGroup>
				</h:panelGrid>


				<p:dataTable id="table1" var="row"
					value="#{productGroupViewControl.dataModel}" widgetVar="dataTable1"
					emptyMessage="Таблица пустая">


					<f:facet name="header">
						<pk:pkpaginator pages="#{productGroupViewControl.allPagesCount}"
							count="#{productGroupViewControl.allRowsCount}"
							page="#{productGroupViewControl.page}"
							buttons="#{productGroupViewControl.oPButtons}"
							rows="#{productGroupViewControl.rows}" 
							page_parametr="groups_ppage"/>

					</f:facet>



					<p:column>
						<f:facet name="header">
							<pk:pktsortorder field="id"
								csortOrder="#{productGroupViewControl.csortOrder}"
								csortField="#{productGroupViewControl.csortField}" 
								csort_order_parametr="groups_pcsortOrder"
								csort_field_parametr="groups_pcsortField"/>
						</f:facet>
						<h:outputText value="#{row.id}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<pk:pktsortorder field="keyName" caption="Наименование"
								csortOrder="#{productGroupViewControl.csortOrder}"
								csortField="#{productGroupViewControl.csortField}" 
								csort_order_parametr="groups_pcsortOrder"
								csort_field_parametr="groups_pcsortField"/>
						</f:facet>
						<h:panelGrid columns="2" styleClass="actions" columnClasses="column-small">
							<p:graphicImage value="/images/icons/foldr_32.png" title="folder"
								alt="Image Description" height="32px" />
							<h:outputText value="#{row.keyName}" />
						</h:panelGrid>
					</p:column>

					<p:column headerText="Описание">
						<h:outputText value="#{row.description}" />
					</p:column>

					<p:column headerText="Действие"
						style="width: 100px; text-align: center;">
						<h:panelGrid columns="2" styleClass="actions">
							<p:commandButton action="#{productGroupViewControl.loadParent}"
								icon="ui-icon forwd16" title="Переместиться в #{a.keyName}"
								ajax="false">
								<f:setPropertyActionListener value="#{row.id}" target="#{flashScope.parentId}" />
								<f:setPropertyActionListener value="#{1}" target="#{productGroupViewControl.page}" />
							</p:commandButton>
							<pk:pktable_crud_column_buttons_wf
								edit_action="#{productGroupViewControl.edit}"
								del_action="#{productGroupViewControl.del}"
								show_view_button="true" update_panel=":form:groupDitailDialog"
								view_button_oncomplete="groupDitailDialog.show()"
								selected="#{productGroupViewControl.selected}" row="#{row}" />
						</h:panelGrid>
					</p:column>


					<f:facet name="footer">
						<pk:pkpaginator pages="#{productGroupViewControl.allPagesCount}"
							count="#{productGroupViewControl.allRowsCount}"
							page="#{productGroupViewControl.page}"
							buttons="#{productGroupViewControl.oPButtons}"
							rows="#{productGroupViewControl.rows}" 
							page_parametr="groups_ppage"/>
					</f:facet>


				</p:dataTable>

			</p:fieldset>


			<p:dialog header="Row Detail" widgetVar="groupDitailDialog"
				resizable="false" id="groupDitailDialog" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="groupDisplay" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">

					</f:facet>

					<h:outputText value="id:" />
					<h:outputText value="#{productGroupViewControl.selected.id}"
						style="font-weight:bold" />

					<h:outputText value="KeyName:" />
					<h:outputText value="#{productGroupViewControl.selected.keyName}"
						style="font-weight:bold" />


					<h:outputText value="Description:" />
					<p:scrollPanel style="width:350px;height:200px" scrollMode="native">
						<h:outputText
							value="#{productGroupViewControl.selected.description}"
							escape="false" />
					</p:scrollPanel>

					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Close" onclick="groupDitailDialog.hide()"
								type="button" icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>
			
			
			<!-- PRODUCT ADDON BEGIN -->
			
			<br/>
			<h:panelGrid columns="10">
				<h:panelGroup>
					<pk:pk_add_button_wf add_action="#{productViewControl.add}"/>
				</h:panelGroup>
			</h:panelGrid>
			
			<p:dataTable id="table2" var="row" 
				value="#{productViewControl.dataModel}" widgetVar="dataTable2"
				emptyMessage="Таблица пустая">


				<f:facet name="header">
					<pk:pkpaginator pages="#{productViewControl.allPagesCount}"
						count="#{productViewControl.allRowsCount}"
						page="#{productViewControl.page}"
						buttons="#{productViewControl.oPButtons}"
						rows="#{productViewControl.rows}" 
						page_parametr="product_ppage"/>

				</f:facet>



				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="id"
							csortOrder="#{productViewControl.csortOrder}"
							csortField="#{productViewControl.csortField}"
							csort_order_parametr="product_pcsortOrder"
							csort_field_parametr="product_pcsortField"/>
					</f:facet>
					<h:outputText value="#{row.get('product.id')}" />
				</p:column>

				<p:column headerText="Код товара" >
					<h:outputText value="#{row.get('product.barcode')}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">  
                    Фото
            		</f:facet>
						<p:graphicImage value="/mvc/image/#{row.get('product.mainImage')}" title="Title"
							alt="Нет" height="32px"/>
				</p:column>

				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="keyName" caption="Наименование"
							csortOrder="#{productViewControl.csortOrder}"
							csortField="#{productViewControl.csortField}" 
							csort_order_parametr="product_pcsortOrder"
							csort_field_parametr="product_pcsortField"/>
					</f:facet>
					Группа: <h:outputText value="#{row.get('product.path')}"/>
					<br/>
					<b><h:outputText value="#{row.get('product.keyName')}" /></b>
				</p:column>

				<p:column headerText="Описание" >
					<h:outputText value="#{row.get('product.description')}" />
				</p:column>
				
				<p:column headerText="Цена" >
					<h:outputText value="#{row.get('price.value')}" />
				</p:column>
				
				<p:column headerText="Количество" >
					<ts:account_value value="#{row.get('value.sum')}"  numerator="#{row.get('numerator.sum')}" 
						denominator="#{row.get('product.denominator')}"/>
				</p:column>

				<p:column headerText="Действие" style="width: 100px; text-align: center;">
					<pk:pktable_crud_column_buttons_wf
						edit_action="#{productViewControl.edit}"
						del_action="#{productViewControl.del}"
						show_view_button="true"
						view_button_oncomplete="rowDitailDialog.show()"
						selected="#{productViewControl.selected}" row="#{row}" />
				</p:column>


				<f:facet name="footer">
					<pk:pkpaginator pages="#{productViewControl.allPagesCount}"
						count="#{productViewControl.allRowsCount}"
						page="#{productViewControl.page}"
						buttons="#{productViewControl.oPButtons}"
						rows="#{productViewControl.rows}" 
						page_parametr="product_ppage"/>
				</f:facet>


			</p:dataTable>
			
			
			<p:dialog header="Row Detail" widgetVar="rowDitailDialog"
				resizable="false" id="rowDitailDialog" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">

					</f:facet>

					<h:outputText value="id:" />
					<h:outputText value="#{productViewControl.selected.get('product.id')}"
						style="font-weight:bold" />

					<h:outputText value="KeyName:" />
					<h:outputText value="#{productViewControl.selected.get('product.keyName')}"
						style="font-weight:bold" />


					<h:outputText value="Description:" />
					<p:scrollPanel style="width:350px;height:200px" scrollMode="native">
						<h:outputText
							value="#{productViewControl.selected.get('product.description')}"
							escape="false" />
					</p:scrollPanel>

					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Close" onclick="rowDitailDialog.hide()"
								type="button" icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>
			
			
			<!-- PRODUCT ADDON END -->
			
			
			
		</h:form>
	</ui:define>

	<ui:define name="footer">
        footer
    </ui:define>
</ui:composition>
</html>
