<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents"
	xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        #{opProductPlusWFControl.orderType eq 'PRODUCT_PLUS' ? 'Приход товара' : ''}
        #{opProductPlusWFControl.orderType eq 'PRODUCT_MINUS' ? 'Списание товара' : ''}
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"/>
	</ui:define>

	<ui:define name="header">
        #{opProductPlusWFControl.orderType eq 'PRODUCT_PLUS' ? 'Приход товара' : ''}
        #{opProductPlusWFControl.orderType eq 'PRODUCT_MINUS' ? 'Списание товара' : ''}
    </ui:define>

	<ui:define name="content">
		<style type="text/css">
.pbutton {
	width: 200px;
	height: 100px;
}
</style>


		<h:form id="form" onkeypress="if (event.keyCode == 13) { document.getElementById('form:findButton').click(); return false; }">
		
			<p:focus for="barcode" rendered="#{opProductPlusWFControl.product == null}"/>
			<!-- p:focus for="mainItem" rendered="#{opProductPlusWFControl.product != null}"/ -->
			
			<p:growl id="msgs" showDetail="true" />
			<p:messages showDetail="true" autoUpdate="true" />

			<h:panelGrid columns="2">

				<h:outputText value="Поставщик"/>
				<h:panelGrid columns="2">
					<p:commandButton value="Выбрать" action="selectProvider"
						immediate="false" />
					<h:outputText
						value="#{opProductPlusWFControl.provider.keyName}" />
				</h:panelGrid>

				<h:outputLabel value="Склад:" />
				<p:selectOneMenu value="#{opProductPlusWFControl.warehouse}"
					effect="fade" converter="#{warehouseConverter}" readonly="#{del}"
					required="true">
					<f:selectItems value="#{opProductPlusWFControl.warehouses}"
						var="row" itemLabel="#{row.keyName}" itemValue="#{row}" />
				</p:selectOneMenu>

				<h:outputText value="Штрихкод" />
				<h:panelGrid columns="2">
					<p:inputText id="barcode" value="#{opProductPlusWFControl.barcode}"
						size="120" />
					<p:commandButton value="Найти" ajax="true" id="findButton"
						action="#{opProductPlusWFControl.findProduct}" update="@form" />
				</h:panelGrid>

			</h:panelGrid>

			<h:panelGrid columns="2"
				rendered="#{opProductPlusWFControl.product == null}">
				<h:outputText value="Товар не найден" />
				<p:commandButton value="Завести новый товар" />
			</h:panelGrid>

			<h:panelGrid columns="2"
				rendered="#{opProductPlusWFControl.product != null}">
				<h:outputText value="id" />
				<h:outputText value="#{opProductPlusWFControl.product.id}" />
				<h:outputText value="Наименоание" />
				<h:outputText value="#{opProductPlusWFControl.product.keyName}" />
				<h:outputText value="Описание" />
				<h:outputText value="#{opProductPlusWFControl.product.description}" />
				<h:outputText value="Цена" />
				<h:outputText
					value="#{opProductPlusWFControl.product.getPrice(opProductPlusWFControl.getTerminalCurrentUser().division).value}" />
				<h:outputText value="Пометки по цене" />
				<h:outputText
					value="#{opProductPlusWFControl.product.getPrice(opProductPlusWFControl.getTerminalCurrentUser().division).description}" />
				
				<h:outputText value="Количество:" />
				<ts:items_editor items="#{opProductPlusWFControl.items}" product="#{opProductPlusWFControl.product}"
					min="0" 
					max="999999999"/>
				
					
				<h:outputLabel value="Пометки при операции:" />
				<p:inputTextarea maxlength="3000" rows="10" cols="110"
						value="#{opProductPlusWFControl.description}"  title="Description" />
						
				<p:commandButton value="Принять" ajax="false" 
					action="#{opProductPlusWFControl.enter}"/>	
			</h:panelGrid>

			



		</h:form>
	</ui:define>

	<ui:define name="footer">
        
    </ui:define>
</ui:composition>
</html>
