<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
<cc:interface>

	<cc:attribute name="value" required="true"/>
	
	<cc:attribute name="numerator" required="true"/>
	<cc:attribute name="denominator" required="true"/>

</cc:interface>
<cc:implementation>
	<b><h:outputText value="#{cc.attrs.value} " /></b>
	<h:panelGroup> 
		<h:outputText value="#{cc.attrs.numerator}" /> / <h:outputText value="#{cc.attrs.denominator}" />
	</h:panelGroup>
</cc:implementation>
</html>
