<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
<cc:interface>

	<cc:attribute name="items" required="true" />
	<cc:attribute name="product" required="true" />
	<cc:attribute name="min" required="true" />
	<cc:attribute name="max" required="true" />
	
</cc:interface>
<cc:implementation>
	<table>
		<tr>
			<td><p:spinner value="#{cc.attrs.items[0].uiValue}" min="#{cc.attrs.min}" max="#{cc.attrs.max}" /></td>
			<td><p:spinner value="#{cc.attrs.items[0].uiNumerator}" min="#{cc.attrs.min}" max="#{cc.attrs.max}" 
					rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
			<td><h:outputText value="/"
					rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
			<td><h:outputText value="#{cc.attrs.product.denominator}"
					rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
			<td><h:outputText value="#{cc.attrs.product.measure.keyName}"
					rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
		</tr>
	</table>
	<br />
	<table>
		<ui:repeat var="item" value="#{cc.attrs.items}" offset="1">
			<tr>
				<td><h:outputText
						value="#{cc.attrs.product.countedAttribute.keyName}" />
				</td>
						
				<td><h:outputText value="#{item.item.countedAttribute.keyName}" />
				</td>
				<td><p:spinner value="#{item.uiValue}" min="#{cc.attrs.min}" max="#{cc.attrs.max}"  /></td>
				<td><p:spinner value="#{item.uiNumerator}" min="#{cc.attrs.min}" max="#{cc.attrs.max}" 
						rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
				<td><h:outputText value="/"
						rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
				<td><h:outputText value="#{cc.attrs.product.denominator}"
						rendered="#{cc.attrs.product.valueType == 'FRACTION'}" /></td>
				<td><h:outputText value="#{cc.attrs.product.measure.keyName}" /></td>
			</tr>
		</ui:repeat>
	</table>
</cc:implementation>
</html>
