<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite"
	xmlns:p="http://primefaces.org/ui">
<cc:interface>

	<cc:attribute name="order" required="true"/>
	
</cc:interface>
<cc:implementation>

	<h:panelGrid rendered="#{cc.attrs.order.orderType eq 'PRODUCT_SALE'}" styleClass="actions">
		<h:outputText value="Продажа товара"/>
	</h:panelGrid>

	<h:panelGrid rendered="#{cc.attrs.order.orderType eq 'PRODUCT_PLUS'}" styleClass="actions">
		<h:outputText value="Приход товара"/>
	</h:panelGrid>
	
	<h:panelGrid rendered="#{cc.attrs.order.orderType eq 'PRODUCT_MINUS'}" styleClass="actions">
		<h:outputText value="Списание товара"/>
	</h:panelGrid>
	
</cc:implementation>
</html>
