<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:cc="http://java.sun.com/jsf/composite" xmlns:p="http://primefaces.org/ui">
<cc:interface>

</cc:interface>
<cc:implementation>

	<ui:repeat var="dblock" value="#{privilegesPanelEditWFControl.divisionsBlocks}">

		<p:fieldset legend="#{dblock.division.keyName}">

			<h:outputText value="#{dblock.division.description}" />
			<br />
			<br />

			<hr />
			<table border="0" style="text-align: left; vertical-align: middle;">

				<tr>
					<td colspan="2"><h3>Общие права</h3></td>
				</tr>
				<ui:repeat var="commonPrivileges" value="#{dblock.commonPrivileges}">
					<tr>
						<td></td>
						<td><p:selectBooleanCheckbox  itemLabel="#{commonPrivileges.commonPrivilegesTypes}" value="#{commonPrivileges.allow}" /></td>
					</tr>
				</ui:repeat>

				<tr>
					<td colspan="2"><hr /></td>
				</tr>
				<tr>
					<td colspan="2"><h3>Склады</h3></td>
				</tr>

				<ui:repeat var="w" value="#{dblock.ws()}">
					<tr>
						<td><h:outputText value="#{w.keyName}" /></td>
					</tr>
					<ui:repeat var="warehousePrivileges" value="#{dblock.wps(w)}">
						<tr>
							<td></td>
							<td><p:selectBooleanCheckbox itemLabel="#{warehousePrivileges.warehousePrivileges}" value="#{warehousePrivileges.allow}" /></td>
						</tr>
					</ui:repeat>
				</ui:repeat>

				<tr>
					<td colspan="2"><hr /></td>
				</tr>
				<tr>
					<td colspan="2"><h3>Кассы</h3></td>
				</tr>

				<ui:repeat var="c" value="#{dblock.cs()}">
					<tr>
						<td><h:outputText value="#{c.keyName}" /></td>
					</tr>
					<ui:repeat var="cashPrivileges" value="#{dblock.cps(c)}">
						<tr>
							<td></td>
							<td><p:selectBooleanCheckbox itemLabel="#{cashPrivileges.cashPrivileges}" value="#{cashPrivileges.allow}" /></td>
						</tr>
					</ui:repeat>
				</ui:repeat>


			</table>

		</p:fieldset>
		<br />
	</ui:repeat>

</cc:implementation>
</html>
