<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Панель операций
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"></img>
	</ui:define>

	<ui:define name="header">
         Панель операций
    </ui:define>

	<ui:define name="content">
		<style type="text/css">
.pbutton {
	width: 200px;
	height: 100px;
}
</style>


		<h:form id="form">
			<h:panelGrid columns="2">



			</h:panelGrid>

		</h:form>
	</ui:define>

	<ui:define name="footer">
        
    </ui:define>
</ui:composition>
</html>
