<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="товар" />
	</ui:define>

	<ui:define name="header_icon">
		<pk:pk_dialog_caption_icon add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" />
	</ui:define>

	<ui:define name="header">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="товар" />
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:panel header="Детали:" style="margin-top:10px">
				<p:messages showDetail="true" autoUpdate="true" />

				<h:panelGrid id="detail" columns="2" styleClass="grid">

					<h:outputText value="Группа"></h:outputText>
					<h:panelGrid columns="2">
						<p:commandButton value="Выбрать" action="selectProductGroup" immediate="false"/>
						<h:outputText value="#{productEditWFControl.edited.productGroup.treePathAsString}"/>
					</h:panelGrid>

					<h:outputText value="№:"
						rendered="#{productEditWFControl.edited.id != null}" />
					<h:outputText value="#{productEditWFControl.edited.id}"
						rendered="#{productEditWFControl.edited.id != null}" />

					<h:outputLabel value="Наименование:" />
					<p:inputText value="#{productEditWFControl.edited.keyName}" size="100"
						title="Краткое наименование товара" readonly="#{del}" required="true"
						requiredMessage="The keyName field is required." maxlength="255"/>
						
					<h:outputLabel value="Описание:" />
					<p:inputTextarea readonly="#{del}" maxlength="3000" rows="10" cols="110"
						value="#{productEditWFControl.edited.description}"  title="Description" />
					
					<h:outputLabel value="Код товара:" />
					<p:inputText value="#{productEditWFControl.edited.barcode}"
						title="Штрихкод" readonly="#{del}" required="true"  size="100"
						requiredMessage="The barcode field is required." maxlength="100"/>
							
					<h:outputLabel value="Единица измерения:" />
					<p:selectOneMenu value="#{productEditWFControl.edited.measure}" effect="fade" converter="#{measureConverter}"
					 readonly="#{del}" required="true" >
						<f:selectItems value="#{measureService.measuresList()}" var="row"
							itemLabel="#{row.keyName}" itemValue="#{row}" />
						<p:ajax event="change" update="denominator priceGroup priceNumrator" />
					</p:selectOneMenu>
					
					<h:outputLabel value="Знаменатель делимого:" />
					<p:spinner id="denominator" readonly="#{del or productEditWFControl.edited.measure.measureType != 'FRACTION'}" required="true"
                    	value="#{productEditWFControl.edited.denominator}" min="1" max="9999999999999999999" />
					
					
					<h:outputText value="Атрибуты субсчетов"/>
					<h:panelGrid columns="2">
						<p:commandButton value="Выбрать" action="selectCountedAttrinbutes" immediate="false"/>
						<h:outputText value="#{productEditWFControl.edited.countedAttribute.keyName}"/>
					</h:panelGrid>
					
					<h:outputLabel for="price" value="Цена: " rendered="#{edit or del}"/>
					<h:panelGroup id="priceGroup">
						<p:spinner id="price" readonly="#{del}" rendered="#{edit or del}" required="true" value="#{productEditWFControl.price.value}" min="0" max="9999999999999999999" />
						
						<h:outputText value=" цена одной дробной части " rendered="#{(edit or del) and productEditWFControl.edited.measure.measureType == 'FRACTION'}"/>
						<p:spinner id="priceNumrator" readonly="#{del}" rendered="#{(edit or del) and productEditWFControl.edited.measure.measureType == 'FRACTION'}" required="true" value="#{productEditWFControl.price.valueNumrator}" min="0" max="9999999999999999999" />
					</h:panelGroup>

					<h:outputLabel for="priceDescription" value="Пометки по цене: " rendered="#{edit or del}"/>  
					<p:inputTextarea readonly="#{del}" rows="4" cols="110"  rendered="#{edit or del}"
						id="priceDescription" value="#{productEditWFControl.price.description}" 
						title="Пометки по цене" maxlength="255"/>
			
				</h:panelGrid>

				<br />

				<pk:pk_close_button action="end" />
				<pk:pkdialog_crud_buttons
					add_action="#{productEditWFControl.confirmAdd}"
					edit_action_and_close="#{productEditWFControl.confirmEditAndClose}"
					edit_action="#{productEditWFControl.confirmEdit}"
					del_action="#{productEditWFControl.confirmDel}" add_view="#{add}"
					edit_view="#{edit}" del_view="#{del}" />
			</p:panel>


			<p:separator />

			<p:panel header="Галерея" style="margin-top:10px" id="imagesPanel"
				rendered="#{edit}">

				<h:outputLabel value="Главное фото:" />
				<h:panelGrid id="captionImagePanel" columns="2" styleClass="grid">
					<p:graphicImage id="main_image" 
							value="/mvc/image/#{productEditWFControl.edited.mainImage}" title="Title"
							alt="Image Description" height="100px"/>
					<!-- p:inputText value="#{productEditWFControl.edited.mainImage}" size="100" id="main_image_url"/ -->
				</h:panelGrid>

				<p:dataTable var="image" value="#{productEditWFControl.images}"
					id="imagesTable">
					<p:column>
						<f:facet name="header">  
                    Фото
            		</f:facet>
						<p:graphicImage value="/mvc/image/#{image.filename}" title="Title"
							alt="Image Description" width="100px" />
					</p:column>

					<p:column headerText="File">
						<pk:pk_table_image_cell filename="#{image.filename}" />
					</p:column>
					
					<p:column style="width:100px" headerText="Actions">
						<h:panelGrid columns="3" cellpadding="2" styleClass="actions">
							<p:commandButton ajax="true" update=":form:captionImagePanel :form:imagesTable"
								value="Main"
								disabled="#{image.filename eq productEditWFControl.edited.mainImage}">
								<f:setPropertyActionListener value="#{image.filename}"
									target="#{productEditWFControl.edited.mainImage}" />
							</p:commandButton>
							<p:commandButton oncomplete="confirmation.show()"
								icon="ui-icon ui-icon-close" title="Delete"
								update=":form:display">
								<f:setPropertyActionListener value="#{image}"
									target="#{productEditWFControl.selectedImage}" />
							</p:commandButton>
						</h:panelGrid>
					</p:column>


					
				</p:dataTable>

				<p:confirmDialog id="confirmation" message="Are you delete? "
					width="200" modal="true" showEffect="explode" hideEffect="explode"
					header="Confirm" severity="alert" widgetVar="confirmation">


					<h:panelGrid id="display" columns="1" cellpadding="4"
						style="margin:0 auto;">
						<p:graphicImage value="/mvc/image/#{productEditWFControl.selectedImage.filename}" title="Title"
							alt="Image Description" width="100px" />
					</h:panelGrid>
					<br />
					<p:commandButton value="Yes sure" update="imagesTable"
						actionListener="#{productEditWFControl.deleteImage}"
						oncomplete="confirmation.hide()" />
					<p:commandButton value="Not yet" onclick="confirmation.hide()"
						type="button" />

				</p:confirmDialog>

				<p:separator rendered="#{edit}" />

				<p:fileUpload rendered="#{edit}" id="uploaderImages"
					fileUploadListener="#{productEditWFControl.handleFileUpload}"
					mode="advanced" update="messages imagesTable" multiple="true"
					sizeLimit="1000000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
					onstart="" />

				<p:growl id="messages" showDetail="true" />

			</p:panel>


		</h:form>
	</ui:define>
	<ui:define name="footer">
		<h:outputText
			value="Параметры: id - #{id}; mode - #{mode}; add - #{add}; edit - #{edit}; del - #{del}; retUrl - #{retUrl}" />
	</ui:define>
</ui:composition>
</html>
