<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="клинта" />
	</ui:define>

	<ui:define name="header_icon">
		<pk:pk_dialog_caption_icon add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" />
	</ui:define>

	<ui:define name="header">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="клинта" />
	</ui:define>

	<ui:define name="content">
		<h:form>
			<p:panel header="Детали:" style="margin-top:10px">
				<p:messages showDetail="true" autoUpdate="true" />

				<h:panelGrid id="detail" columns="2" styleClass="grid">

					<h:outputText value="№:"
						rendered="#{customerEditWFControl.edited.id != null}" />
					<h:outputText value="#{customerEditWFControl.edited.id}"
						rendered="#{customerEditWFControl.edited.id != null}" />


					<!--  h:outputLabel value="Тип документ:" />
					<p:selectOneMenu value="#{customerEditWFControl.documentTypeId}"
						rendered="true">
						<f:selectItems value="#{customerEditWFControl.documentTypes}"
							var="row" itemLabel="#{row.keyName}" itemValue="#{row.id}" />
					</p:selectOneMenu -->

					<h:outputLabel value="Номер документа:" />
					<p:inputText value="#{customerEditWFControl.edited.keyName}"
						title="Username" readonly="#{del}" required="true"
						requiredMessage="The document field is required." />


					<h:outputLabel value="Фамилия:" />
					<p:inputText value="#{customerEditWFControl.edited.fName}"
						required="true" title="Фамилия" readonly="#{del}" />

					<h:outputLabel value="Имя:" />
					<p:inputText value="#{customerEditWFControl.edited.nName}"
						required="true" title="Имя" readonly="#{del}" />

					<h:outputLabel value="Отчество:" />
					<p:inputText value="#{customerEditWFControl.edited.mName}"
						title="Отчество" readonly="#{del}" />

					<h:outputLabel value="Дата рождения:" />
					<p:inputMask value="#{customerEditWFControl.edited.bDate}"
						mask="99.99.9999" required="true">
						<f:convertDateTime pattern="dd.MM.yyyy"></f:convertDateTime>
					</p:inputMask>

					<h:outputText value="Пол: " />
					<p:selectOneRadio id="options" required="true"
						value="#{customerEditWFControl.edited.sex}" rendered="true">
						<f:selectItem itemLabel="Мужской" itemValue="MAN" />
						<f:selectItem itemLabel="Женский" itemValue="WOMAN" />
					</p:selectOneRadio>

					<h:outputLabel value="Телефон 1:" />
					<p:inputMask value="#{customerEditWFControl.edited.pfone1}"
						mask="(999) 999-9999? 99999" title="контактный телефон"
						readonly="#{del}" />

					<h:outputLabel value="Телефон 2:" />
					<p:inputMask value="#{customerEditWFControl.edited.pfone2}"
						mask="(999) 999-9999? 99999" title="контактный телефон"
						readonly="#{del}" />

					<h:outputLabel value="Телефон 3:" />
					<p:inputMask value="#{customerEditWFControl.edited.pfone3}"
						mask="(999) 999-9999? 99999" title="контактный телефон"
						readonly="#{del}" />


					<h:outputLabel value="Description:" />
					<p:inputTextarea readonly="#{del}"
						value="#{customerEditWFControl.edited.description}"
						style="width:300px;height:100px;" title="Description" />
						
			
				</h:panelGrid>

				<br />

				<pk:pk_close_button action="end" />
				<pk:pkdialog_crud_buttons
					add_action="#{customerEditWFControl.confirmAdd}"
					edit_action_and_close="#{customerEditWFControl.confirmEditAndClose}"
					edit_action="#{customerEditWFControl.confirmEdit}"
					del_action="#{customerEditWFControl.confirmDel}" add_view="#{add}"
					edit_view="#{edit}" del_view="#{del}" />
			</p:panel>
		</h:form>
	</ui:define>
	<ui:define name="footer">
		<h:outputText
			value="Параметры: id - #{id}; mode - #{mode}; add - #{add}; edit - #{edit}; del - #{del}; retUrl - #{retUrl}" />
	</ui:define>
</ui:composition>
</html>
