<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">

<h:form>

	<p:megaMenu style="margin-left: 50px">
		<p:menuitem value="Мастер-панель" url="/mvc/op" icon="ui-icon home" />
	
		<sec:authorize ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_OP">
			<p:submenu label="Операции" icon="ui-icon-pencil">

				<p:column>
					<sec:authorize ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_USER">
						<p:submenu label="Информация">
							<p:menuitem value="Ордера" icon="ui-icon addbk" url="/mvc/order" />
						</p:submenu>
					</sec:authorize>
					
					<sec:authorize ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_USER">
						<p:submenu label="Торговля">
							<p:menuitem value="Продажа товара" icon="ui-icon addbk" url="/mvc/op/product/sale" />
						</p:submenu>
						<p:submenu label="Склад">
							<p:menuitem value="Приход товара" icon="ui-icon addbk" url="/mvc/op/product/plus?orderType=ppl" />
							<p:menuitem value="Списание товара" icon="ui-icon addbk" url="/mvc/op/product/plus?orderType=pmn" />
						</p:submenu>
					</sec:authorize>
				</p:column>
			</p:submenu>
		</sec:authorize>
		
		<sec:authorize ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_RB">
			<p:submenu label="Справочники" icon="ui-icon-pencil">
				<p:column>
					<sec:authorize
						ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_RB">
						<p:submenu label="Товары">
							<p:menuitem value="Единици измерения" icon="ui-icon addbk"
								url="/mvc/measure" />
							<p:menuitem value="Счетные атрибуты" icon="ui-icon addbk"
								url="/mvc/countedAttribute" />
							<p:menuitem value="Группы товаров" icon="ui-icon addbk"
								url="/mvc/productGroup" />
							<p:menuitem value="Товары" icon="ui-icon addbk"
								url="/mvc/product" />
							<p:menuitem value="Поставщики" icon="ui-icon addbk"
								url="/mvc/provider" />
						</p:submenu>
						<p:submenu label="Деньги">
							<p:menuitem value="Валюты" icon="ui-icon addbk"
								url="/mvc/currency" />
						</p:submenu>
					</sec:authorize>
				</p:column>
				<p:column>
					<sec:authorize
						ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_RB,ROLE_RB">
						<p:submenu label="Внешние">
							<!-- p:menuitem value="Типы документов" icon="ui-icon addbk"
								url="/mvc/documentType" / -->
							<sec:authorize
								ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_RB">
								<p:menuitem value="Клиенты" icon="ui-icon addbk"
									url="/mvc/customer" />
							</sec:authorize>
						</p:submenu>
					</sec:authorize>
					<sec:authorize
						ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN,ROLE_RB">
						<p:submenu label="Организация">
							<p:menuitem value="Отделения" icon="ui-icon addbk"
								url="/mvc/division" />
							<p:menuitem value="Кассы" icon="ui-icon addbk"
								url="/mvc/cash" />
							<p:menuitem value="Склады" icon="ui-icon addbk"
								url="/mvc/warehouse" />
						</p:submenu>
					</sec:authorize>
				</p:column>
				<p:column>
					<strong>Справочные данные</strong>
					<p:graphicImage value="/images/books/book_library.png" width="200" />
				</p:column>

			</p:submenu>
		</sec:authorize>

		<sec:authorize ifAnyGranted="ROLE_SUPERUSER,ROLE_ADMIN">
			<p:submenu label="Управление" icon="ui-icon-contact">
				<p:column>
					<p:submenu label="Администрирование">
						<p:menuitem value="Пользователи" icon="ui-icon group_16"
							url="/faces/jsf/control/seq/userAccountListView.xhtml" />
					</p:submenu>
				</p:column>
				<p:column>
					<strong>Управление приложением</strong>
					<p:graphicImage value="/images/Settings.png" width="200" />
				</p:column>
			</p:submenu>
		</sec:authorize>

		<p:menuitem value="Выход"
			url="#{request.contextPath}/j_spring_security_logout"
			icon="ui-icon-close" />
	</p:megaMenu>
</h:form>
</html>

