<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/tags">

<f:view contentType="text/html">
	<h:head>
		<base href="#{request.contextPath}"/>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/jsfdefault_1.css" />

		<style type="text/css">
.home {
	background-image: url(#{request.contextPath}/images/icons/home_16.png)
		!important;
}

.notep {
	background-image: url(#{request.contextPath}/images/icons/notep_16.png)
		!important;
}

.addbk {
	background-image: url(#{request.contextPath}/images/icons/addbk_16.png)
		!important;
}

.wiz16 {
	background-image: url(#{request.contextPath}/images/icons/wiz_16.png)
		!important;
}

.wiz32 {
	background-image: url(#{request.contextPath}/images/icons/wiz_32.png)
		!important;
}

.opts16 {
	background-image: url(#{request.contextPath}/images/icons/opts_16.png)
		!important;
}

.forwd16 {
	background-image: url(#{request.contextPath}/images/icons/forwd_16.png)
		!important;
}

.back16 {
	background-image: url(#{request.contextPath}/images/icons/back_16.png)
		!important;
}

.up16 {
	background-image: url(#{request.contextPath}/images/icons/up_16.png)
		!important;
}

.down16 {
	background-image: url(#{request.contextPath}/images/icons/down_16.png)
		!important;
}

.go16 {
	background-image: url(#{request.contextPath}/images/icons/go_16.png)
		!important;
}

.copy16 {
	background-image: url(#{request.contextPath}/images/icons/copy_16.png)
		!important;
}

.paste16 {
	background-image: url(#{request.contextPath}/images/icons/paste_16.png)
		!important;
}

.add {
	background-image: url(#{request.contextPath}/images/icons/add_16.png)
		!important;
}

.remov {
	background-image: url(#{request.contextPath}/images/icons/remov_16.png)
		!important;
}

.edit {
	background-image: url(#{request.contextPath}/images/icons/edit_16.png)
		!important;
}

.del {
	background-image: url(#{request.contextPath}/images/icons/del_16.png)
		!important;
}

.add32 {
	background-image: url(#{request.contextPath}/images/icons/add_32.png)
		!important;
}

.edit32 {
	background-image: url(#{request.contextPath}/images/icons/edit_32png)
		!important;
}

.del32 {
	background-image: url(#{request.contextPath}/images/icons/del_32.png)
		!important;
}

.opts {
	background-image: url(#{request.contextPath}/images/icons/opts_16.png)
		!important;
}

.cancl {
	background-image: url(#{request.contextPath}/images/icons/cancl_16.png)
		!important;
}

.close {
	background-image: url(#{request.contextPath}/images/icons/close_16.png)
		!important;
}

.user {
	background-image: url(#{request.contextPath}/images/icons/user_16.png)
		!important;
}

.group_16 {
	background-image: url(#{request.contextPath}/images/icons/group_16.png)
		!important;
}

.up16 {
	background-image: url(#{request.contextPath}/images/icons/up_16.png)
		!important;
}

.down16 {
	background-image: url(#{request.contextPath}/images/icons/down_16.png)
		!important;
}

.ref16 {
	background-image: url(#{request.contextPath}/images/icons/ref_16.png)
		!important;
}

.rewnd16 {
	background-image: url(#{request.contextPath}/images/icons/rewnd_16.png)
		!important;
}

.skipb16 {
	background-image: url(#{request.contextPath}/images/icons/skipb_16.png)
		!important;
}

.skipf16 {
	background-image: url(#{request.contextPath}/images/icons/skipf_16.png)
		!important;
}

.fastf16 {
	background-image: url(#{request.contextPath}/images/icons/fastf_16.png)
		!important;
}

.docs16 {
	background-image: url(#{request.contextPath}/images/icons/docs_16.png)
		!important;
}

.print16 {
	background-image: url(#{request.contextPath}/images/icons/print_16.png)
		!important;
}

.pdf16 {
	background-image: url(#{request.contextPath}/images/mimetypes/pdf16.png)
		!important;
}

.excel16 {
	background-image:
		url(#{request.contextPath}/images/mimetypes/excel16.png) !important;
}

.html16 {
	background-image:
		url(#{request.contextPath}/images/mimetypes/html16.png) !important;
}

.text16 {
	background-image:
		url(#{request.contextPath}/images/mimetypes/text16.png) !important;
}

.pdf48 {
	background-image: url(#{request.contextPath}/images/mimetypes/pdf.png)
		!important;
	width: 48px;
	height: 48px;
}

.excel48 {
	background-image: url(#{request.contextPath}/images/mimetypes/excel.png)
		!important;
	width: 48px;
	height: 48px;
}

.html48 {
	background-image: url(#{request.contextPath}/images/mimetypes/html.png)
		!important;
	width: 48px;
	height: 48px;
}

.text48 {
	background-image: url(#{request.contextPath}/images/mimetypes/text.png)
		!important;
	width: 48px;
	height: 48px;
}

.ui-datatable .ui-datatable-footer {
	text-align: left;
}

.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a
	{
	color: #ffffff;
}
</style>



		<title><ui:insert name="title">Default title</ui:insert></title>
		<ui:insert name="head"></ui:insert>

	</h:head>

	<h:body>
		<div id="header">
			<div class="ui-widget ui-widget-header">
				<table border="0" width="100%">
					<tbody>
						<tr>
							<td rowspan="2">
							<img src="#{request.contextPath}/images/calculator-emblem.png" width="96px"/></td>
							<td rowspan="2" align="left"><em
								style="font-size: xx-large;">TRADE UNITS</em></td>
							<td width="100%" align="left" valign="top">
								<table border="0" style="width: 100%; height: 100%">
									<tbody>
										<tr>
											<td valign="top">
												<table border="0" width="100%">
													<tbody>
														<tr>
															<td align="left" width="220px">
																<img
																src="#{request.contextPath}/images/icons/home_16.png" />
																Текущее подразделение:
															</td>
															<td align="left" > 
																#{terminalCurrentUser.userAccount.division.keyName} - #{terminalCurrentUser.userAccount.division.description}
															</td>
														</tr>
														<tr>
															<td align="left">
																<img
																src="#{request.contextPath}/images/icons/user_16.png" />
																Вы зашли как пользователь: 
															</td>
															<td align="left">
																#{app.authentication.name} - #{terminalCurrentUser.userAccount.description}
															</td>
														</tr>
													</tbody>
												</table>
											</td>
											<td align="right" valign="top"><img
												src="#{request.contextPath}/images/icons/hist_16.png"></img>
												Время: <h:outputText value="#{app.date}">
													<f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
												</h:outputText></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td valign="bottom"><ui:include src="mega-menu.xhtml" /></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<table border="0" width="100%">
			<tbody>
				<tr>
					<!-- 					<td valign="top"> -->

					<!-- 						<div> -->
					<!-- 							<ui:include src="left.xhtml" /> -->
					<!-- 						</div> -->
					<!-- 					</td> -->
					<td width="100%" valign="top">
						<table border="0" width="100%">
							<tbody>
								<tr>
									<td>
										<div
											class="ui-widget-content ui-corner-all ui-helper-clearfix sidebar">
											<table border="0" width="100%">
												<tbody>
													<tr>
														<td valign="middle"><h:panelGroup>
																<ui:insert name="header_icon">
																	<!--     	Header area.  See comments below this line in the source. -->
																	<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
																	<!-- <ui:include src="header.xhtml"/> -->
																</ui:insert>
															</h:panelGroup></td>
														<td valign="middle" width="100%">
															<div class="caption">
																<h:panelGroup>
																	<b> <ui:insert name="header">
																			<!--     	Header area.  See comments below this line in the source. -->
																			<!--  include your header file or uncomment the include below and create header.xhtml in this directory -->
																			<!-- <ui:include src="header.xhtml"/> -->
																		</ui:insert>
																	</b>
																</h:panelGroup>
															</div>
														</td>
														<td valign="middle"><h:form>
																<p:commandButton title="Обновить содержимое"
																	icon="ui-icon ref16" ajax="false" />
															</h:form></td>
														<td valign="middle"><h:form>


																<p:commandButton value="?"
																	onclick="contentPanelHelp.show();" />
																<p:confirmDialog
																	message="Это область рабочего пространства" width="200"
																	showEffect="explode" hideEffect="explode"
																	header="Справка..." severity="info"
																	widgetVar="contentPanelHelp">


																	<p:commandButton value="Закрыть"
																		onclick="contentPanelHelp.hide()" type="button" />

																</p:confirmDialog>
															</h:form></td>
													</tr>
												</tbody>
											</table>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div id="content">
											<ui:insert name="content">
                                                        Content area.  See comments below this line in the source.
                                                        <!--  include your content file or uncomment the include below and create content.xhtml in this directory -->
												<!-- <div> -->
												<!-- <ui:include src="content.xhtml"/> -->
												<!-- </div> -->
											</ui:insert>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
		<br></br>


		<div id="footer"  >
		
			<!--  div class="ui-widget ui-widget-header ui-corner-all">
				<table border="0" width="90%">
					<tbody>
						<tr>
							<td width="30%">
								<p class="copyright">
									©&nbsp;&nbsp;2013 &nbsp;•&nbsp; <a href="https://bitbucket.org/povloid/tradesystem">open trade system</a>. &nbsp;•&nbsp;mail: t34box@gmail.com
								</p>
							</td>
							<td><ui:insert name="footer">
								</ui:insert></td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div -->
		</div>
	</h:body>
</f:view>
</html>
