<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Пользователи
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/group_24.png"></img>
	</ui:define>

	<ui:define name="header">
         Пользователи
    </ui:define>

	<ui:define name="content">

		<f:metadata>
			<f:event type="preRenderView"
				listener="#{userAccountViewControl.init}" />
			<f:viewParam name="ppage" value="#{userAccountViewControl.page}" />
			<f:viewParam name="prows" value="#{userAccountViewControl.prows}" />
			<f:viewParam name="pcsortField"
				value="#{userAccountViewControl.pcsortField}" />
			<f:viewParam name="pcsortOrder"
				value="#{userAccountViewControl.pcsortOrder}" />
		</f:metadata>

		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />


			<pk:pk_add_button
				add_url="#{request.contextPath}/mvc/userAccount?mode=add&amp;retUrl=/faces/jsf/control/seq/userAccountListView.xhtml"></pk:pk_add_button>



			<p:dataTable id="table1" var="row"
				value="#{userAccountViewControl.dataModel}" widgetVar="dataTable1"
				emptyMessage="Таблица пустая">


				<f:facet name="header">
					<pk:pkpaginator pages="#{userAccountViewControl.allPagesCount}"
						count="#{userAccountViewControl.allRowsCount}"
						page="#{userAccountViewControl.page}"
						buttons="#{userAccountViewControl.oPButtons}"
						rows="#{userAccountViewControl.rows}" />

				</f:facet>


				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="id"
							csortOrder="#{userAccountViewControl.csortOrder}"
							csortField="#{userAccountViewControl.csortField}" />
					</f:facet>
					<h:outputText value="#{row.id}" />
				</p:column>

				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="username"
							csortOrder="#{userAccountViewControl.csortOrder}"
							csortField="#{userAccountViewControl.csortField}" />
					</f:facet>
					<h:graphicImage value="/images/icons/user_24.png" />
					<h:outputText value="#{row.username}" />
				</p:column>

				<p:column headerText="Описание">
					<h:outputText value="#{row.description}" />
				</p:column>

				<p:column headerText="Действие">
					<pk:pktable_crud_column_buttons
						edit_url="#{request.contextPath}/mvc/userAccount?id=#{row.id}&amp;mode=edit&amp;retUrl=/faces/jsf/control/seq/userAccountListView.xhtml"
						del_url="#{request.contextPath}/mvc/userAccount?id=#{row.id}&amp;mode=del&amp;retUrl=/faces/jsf/control/seq/userAccountListView.xhtml"
						show_view_button="true"
						view_button_oncomplete="rowDitailDialog.show()"
						selected="#{userAccountViewControl.selected}" row="#{row}" />



				</p:column>


				<f:facet name="footer">
					<pk:pkpaginator pages="#{userAccountViewControl.allPagesCount}"
						count="#{userAccountViewControl.allRowsCount}"
						page="#{userAccountViewControl.page}"
						buttons="#{userAccountViewControl.oPButtons}"
						rows="#{userAccountViewControl.rows}" />
				</f:facet>


			</p:dataTable>


			<p:dialog header="Row Detail" widgetVar="rowDitailDialog"
				resizable="false" id="rowDitailDialog" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">

					</f:facet>

					<h:outputText value="id:" />
					<h:outputText value="#{userAccountViewControl.selected.id}"
						style="font-weight:bold" />

					<h:outputText value="KeyName:" />
					<h:outputText value="#{userAccountViewControl.selected.username}"
						style="font-weight:bold" />


					<h:outputText value="Description:" />
					<p:scrollPanel style="width:350px;height:200px" scrollMode="native">
						<h:outputText
							value="#{userAccountViewControl.selected.description}"
							escape="false" />
					</p:scrollPanel>

					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Close" onclick="rowDitailDialog.hide()"
								type="button" icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>
		</h:form>
	</ui:define>

	+
</ui:composition>
</html>
