<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents"
	xmlns:ts="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Справочник товаров
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"></img>
	</ui:define>

	<ui:define name="header">
         Справочник товаров
    </ui:define>

	<ui:define name="content">

		<f:metadata>
			<f:event type="preRenderView"
				listener="#{productViewControl.init}" />
			<f:viewParam name="prows" value="#{productViewControl.prows}" />
			<f:viewParam name="product_ppage" value="#{productViewControl.page}" />
			<f:viewParam name="product_pcsortField"
				value="#{productViewControl.pcsortField}" />
			<f:viewParam name="product_pcsortOrder"
				value="#{productViewControl.pcsortOrder}" />
		</f:metadata>

		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />
			
			<h:panelGrid columns="10">
				<h:panelGroup>
					<pk:pk_add_button_wf add_action="#{productViewControl.add}"/>
				</h:panelGroup>
			</h:panelGrid>
			

			<p:dataTable id="table1" var="row" 
				value="#{productViewControl.dataModel}" widgetVar="dataTable1"
				emptyMessage="Таблица пустая">


				<f:facet name="header">
					<pk:pkpaginator pages="#{productViewControl.allPagesCount}"
						count="#{productViewControl.allRowsCount}"
						page="#{productViewControl.page}"
						buttons="#{productViewControl.oPButtons}"
						rows="#{productViewControl.rows}" 
						page_parametr="product_ppage"/>

				</f:facet>



				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="id"
							csortOrder="#{productViewControl.csortOrder}"
							csortField="#{productViewControl.csortField}"
							csort_order_parametr="product_pcsortOrder"
							csort_field_parametr="product_pcsortField"/>
					</f:facet>
					<h:outputText value="#{row.get('product.id')}" />
				</p:column>

				<p:column headerText="Код товара" >
					<h:outputText value="#{row.get('product.barcode')}" />
				</p:column>
				
				<p:column>
					<f:facet name="header">  
                    Фото
            		</f:facet>
						<p:graphicImage value="/mvc/image/#{row.get('product.mainImage')}" title="Title"
							alt="Нет" height="32px"/>
				</p:column>

				<p:column>
					<f:facet name="header">
						<pk:pktsortorder field="keyName" caption="Наименование"
							csortOrder="#{productViewControl.csortOrder}"
							csortField="#{productViewControl.csortField}" 
							csort_order_parametr="product_pcsortOrder"
							csort_field_parametr="product_pcsortField"/>
					</f:facet>
					Группа: <h:outputText value="#{row.get('product.path')}"/>
					<br/>
					<b><h:outputText value="#{row.get('product.keyName')}" /></b>
				</p:column>

				<p:column headerText="Описание" >
					<h:outputText value="#{row.get('product.description')}" />
				</p:column>
				
				<p:column headerText="Цена" >
					<h:outputText value="#{row.get('price.value')}" />
				</p:column>
				
				<p:column headerText="Количество" >
					<ts:account_value value="#{row.get('value.sum')}"  numerator="#{row.get('numerator.sum')}" 
						denominator="#{row.get('product.denominator')}"/>
				</p:column>

				<p:column headerText="Действие" style="width: 100px; text-align: center;">
					<pk:pktable_crud_column_buttons_wf
						edit_action="#{productViewControl.edit}"
						del_action="#{productViewControl.del}"
						show_view_button="true"
						view_button_oncomplete="rowDitailDialog.show()"
						selected="#{productViewControl.selected}" row="#{row}" />
				</p:column>


				<f:facet name="footer">
					<pk:pkpaginator pages="#{productViewControl.allPagesCount}"
						count="#{productViewControl.allRowsCount}"
						page="#{productViewControl.page}"
						buttons="#{productViewControl.oPButtons}"
						rows="#{productViewControl.rows}" 
						page_parametr="product_ppage"/>
				</f:facet>


			</p:dataTable>


			<p:dialog header="Row Detail" widgetVar="rowDitailDialog"
				resizable="false" id="rowDitailDialog" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">

					</f:facet>

					<h:outputText value="id:" />
					<h:outputText value="#{productViewControl.selected.get('product.id')}"
						style="font-weight:bold" />

					<h:outputText value="KeyName:" />
					<h:outputText value="#{productViewControl.selected.get('product.keyName')}"
						style="font-weight:bold" />


					<h:outputText value="Description:" />
					<p:scrollPanel style="width:350px;height:200px" scrollMode="native">
						<h:outputText
							value="#{productViewControl.selected.get('product.description')}"
							escape="false" />
					</p:scrollPanel>

					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Close" onclick="rowDitailDialog.hide()"
								type="button" icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>
		</h:form>
	</ui:define>

	<ui:define name="footer">
        footer
    </ui:define>
</ui:composition>
</html>
