<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
        Быбор группу товаров
    </ui:define>

	<ui:define name="header_icon">
		<img src="#{request.contextPath}/images/icons/addbk_24.png"></img>
	</ui:define>

	<ui:define name="header">
        Выбор группу товаров
    </ui:define>

	<ui:define name="content">



		<h:form id="form">

			<p:growl id="msgs" showDetail="true" />

			<p:messages showDetail="true" autoUpdate="true" />

			<p:dataTable var="row" value="#{productGroupSelectOneWFControl.model}"
				paginator="true" rows="10" lazy="true"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15"
				selection="#{productGroupSelectOneWFControl.selected}" id="table1">

				<p:column selectionMode="single" style="width:18px" />

				<p:column headerText="id">
					<h:outputText value="#{row.id}" />
				</p:column>

				<p:column headerText="keyName">
					<h:outputText value="#{row.keyName}" />
				</p:column>

				<p:column headerText="Описание">
					<h:outputText value="#{row.description}" />
				</p:column>

			</p:dataTable>

			<br />
			<pk:pk_cancel_button
				cancel_action="#{productGroupSelectOneWFControl.cancel}" />
			<p:commandButton ajax="false"
				action="#{productGroupSelectOneWFControl.select}" value="Выбрать" />

		</h:form>
	</ui:define>

	<ui:define name="footer">
        footer
    </ui:define>
</ui:composition>
</html>
