<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="атрибут для подсчета" />
	</ui:define>

	<ui:define name="header_icon">
		<pk:pk_dialog_caption_icon add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" />
	</ui:define>

	<ui:define name="header">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="атрибут для подсчета" />
	</ui:define>

	<ui:define name="content">
		<h:form id="form">
			<p:panel header="Детали:" style="margin-top:10px">
				<p:messages showDetail="true" autoUpdate="true" />

				<h:panelGrid id="detail" columns="2" styleClass="grid">

					<h:outputText value="№:"
						rendered="#{countedAttributeEditWFControl.edited.id != null}" />
					<h:outputText value="#{countedAttributeEditWFControl.edited.id}"
						rendered="#{countedAttributeEditWFControl.edited.id != null}" />

					<h:outputLabel value="KeyName:" />
					<p:inputText value="#{countedAttributeEditWFControl.edited.keyName}"
						title="Username" readonly="#{del}" required="true"
						requiredMessage="The keyName field is required." />

					<h:outputLabel value="Description:" />
					<p:inputTextarea readonly="#{del}"
						value="#{countedAttributeEditWFControl.edited.description}"
						style="width:300px;height:100px;" title="Description" />
						
			
				</h:panelGrid>

				<br />

				<pk:pk_close_button action="end" />
				<pk:pkdialog_crud_buttons
					add_action="#{countedAttributeEditWFControl.confirmAdd}"
					edit_action_and_close="#{countedAttributeEditWFControl.confirmEditAndClose}"
					edit_action="#{countedAttributeEditWFControl.confirmEdit}"
					del_action="#{countedAttributeEditWFControl.confirmDel}" add_view="#{add}"
					edit_view="#{edit}" del_view="#{del}" />
			</p:panel>
			
			<p:panel header="Атрибуты субсчетов" style="margin-top:10px" id="imagesPanel" rendered="#{edit}">
				<h:panelGrid columns="10">
					<h:panelGroup>
						<pk:pk_add_button_wf
							add_action="#{countedAttributeEditWFControl.addSubAttribute}" />
					</h:panelGroup>
				</h:panelGrid>

				<p:dataTable id="table1" var="row" 
				value="#{countedAttributeEditWFControl.edited.children}" widgetVar="countedattributesTable"
				emptyMessage="Таблица пустая">

				<p:column>
					<h:outputText value="#{row.id}" />
				</p:column>

				<p:column>
					<h:outputText value="#{row.keyName}" />
				</p:column>

				<p:column headerText="Описание" >
					<h:outputText value="#{row.description}" />
				</p:column>

				<p:column headerText="Действие" style="width: 100px; text-align: center;">
					<pk:pktable_crud_column_buttons_wf
						edit_action="#{countedAttributeEditWFControl.editSubAttribute}"
						del_action="#{countedAttributeEditWFControl.delSubAttribute}"
						show_view_button="true"
						view_button_oncomplete="rowDitailDialog.show()"
						selected="#{countedAttributeEditWFControl.selectedSubAttribute}" row="#{row}" />
				</p:column>



			</p:dataTable>
				
			</p:panel>
			
			
			<p:dialog header="Row Detail" widgetVar="rowDitailDialog"
				resizable="false" id="rowDitailDialog" showEffect="fade"
				hideEffect="explode" modal="true">

				<h:panelGrid id="display" columns="2" cellpadding="4"
					style="margin:0 auto;">

					<f:facet name="header">

					</f:facet>

					<h:outputText value="id:" />
					<h:outputText value="#{countedAttributeEditWFControl.selectedSubAttribute.id}"
						style="font-weight:bold" />

					<h:outputText value="KeyName:" />
					<h:outputText value="#{countedAttributeEditWFControl.selectedSubAttribute.keyName}"
						style="font-weight:bold" />


					<h:outputText value="Description:" />
					<p:scrollPanel style="width:350px;height:200px" scrollMode="native">
						<h:outputText
							value="#{countedAttributeEditWFControl.selectedSubAttribute.description}"
							escape="false" />
					</p:scrollPanel>

					<f:facet name="footer">
						<p:outputPanel layout="block" style="text-align:right">
							<p:commandButton value="Close" onclick="rowDitailDialog.hide()"
								type="button" icon="ui-icon ui-icon-close" />
						</p:outputPanel>
					</f:facet>
				</h:panelGrid>
			</p:dialog>
			
		</h:form>
	</ui:define>
	<ui:define name="footer">
		<h:outputText
			value="Параметры: id - #{id}; mode - #{mode}; add - #{add}; edit - #{edit}; del - #{del}; retUrl - #{retUrl}" />
	</ui:define>
</ui:composition>
</html>
