
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pk="http://java.sun.com/jsf/composite/pkomponents"
	xmlns:trs="http://java.sun.com/jsf/composite/tradesystem">

<ui:composition template="/WEB-INF/templites/templite.xhtml">
	<ui:define name="title">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="пользователя" />
	</ui:define>

	<ui:define name="header_icon">
		<pk:pk_dialog_caption_icon add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" />
	</ui:define>

	<ui:define name="header">
		<pk:pk_dialog_caption_text add_view="#{add}" edit_view="#{edit}"
			del_view="#{del}" caption="пользователя" />
	</ui:define>

	<ui:define name="content">
		<h:form>

			<p:messages showDetail="true" autoUpdate="true" />

			<p:tabView id="tabView" activeIndex="#{flowScope.tabpage}">

				<p:tab id="tab1" title="Общие данные по пользователю">

					

					<h:panelGrid id="detail" columns="2" styleClass="grid">

						<h:outputText value="№:" rendered="#{userAccountWFControl.edited.id != null}" />
						<h:outputText value="#{userAccountWFControl.edited.id}" rendered="#{userAccountWFControl.edited.id != null}" />

						<h:outputLabel value="Username:" />
						<p:inputText value="#{userAccountWFControl.edited.username}" title="Username" readonly="#{del}" required="true" requiredMessage="The username field is required." />

						<h:outputLabel for="pwd1" value="Password 1: *" />
						<p:password id="pwd1" value="#{userAccountWFControl.password}" feedback="true" match="pwd2" label="Password 1" required="#{add}" readonly="#{del}" autocomplete="off"/>

						<h:outputLabel for="pwd2" value="Password 2: *" />
						<p:password id="pwd2" value="#{userAccountWFControl.password}" feedback="true" label="Password 2" required="#{add}" readonly="#{del}" autocomplete="off"/>

						<h:outputLabel value="Фамилия:" />
						<p:inputText value="#{userAccountWFControl.edited.fName}" title="Фамилия" readonly="#{del}" required="true" />

						<h:outputLabel value="Имя:" />
						<p:inputText value="#{userAccountWFControl.edited.nName}" title="Имя" readonly="#{del}" required="true" />

						<h:outputLabel value="Отчество:" />
						<p:inputText value="#{userAccountWFControl.edited.mName}" title="Отчество" readonly="#{del}" />

						<h:outputLabel value="Телефон 1:" />
						<p:inputMask value="#{userAccountWFControl.edited.pfone1}" mask="(999) 999-9999? 99999" title="контактный телефон" readonly="#{del}" />

						<h:outputLabel value="Телефон 2:" />
						<p:inputMask value="#{userAccountWFControl.edited.pfone2}" mask="(999) 999-9999? 99999" title="контактный телефон" readonly="#{del}" />

						<h:outputLabel value="Телефон 3:" />
						<p:inputMask value="#{userAccountWFControl.edited.pfone3}" mask="(999) 999-9999? 99999" title="контактный телефон" readonly="#{del}" />


						<h:outputLabel value="Description:" />
						<p:inputTextarea readonly="#{del}" value="#{userAccountWFControl.edited.description}" style="width:300px;height:100px;" title="Description" />

						<h:outputText value="Отделение"></h:outputText>
						<h:panelGrid columns="2">
							<p:commandButton value="Выбрать" action="selectDivision"></p:commandButton>
							<h:outputText value="#{userAccountWFControl.edited.division.keyName}"></h:outputText>
						</h:panelGrid>

						<h:outputLabel value="Roles:" />
						<p:pickList value="#{userAccountWFControl.roles.dList}" var="role" readonly="#{del}" itemLabel="#{role}" itemValue="#{role}" />

					</h:panelGrid>

					<br />


				</p:tab>

				<p:tab id="tab2" title="Рабочие привилегии" rendered="#{edit}">
					
					<trs:privileges_edit_panel />

				</p:tab>



			</p:tabView>

			<pk:pk_close_button action="end" />
			<pk:pkdialog_crud_buttons add_action="#{userAccountWFControl.confirmAdd}" edit_action_and_close="#{userAccountWFControl.confirmEditAndClose}" edit_action="#{userAccountWFControl.confirmEdit}"
				del_action="#{userAccountWFControl.confirmDel}" add_view="#{add}" edit_view="#{edit}" del_view="#{del}" />

		</h:form>
	</ui:define>
	<ui:define name="footer">
		<h:outputText
			value="Параметры: id - #{id}; mode - #{mode}; add - #{add}; edit - #{edit}; del - #{del}; retUrl - #{retUrl}" />
	</ui:define>
</ui:composition>
</html>
